<app-nav-bar></app-nav-bar>
<ion-content class="padding" color="primary">
  <ion-card>
    <ion-title class="ion-margin ion-text-center ion-fixed">Historique</ion-title>
  </ion-card>
  <ion-item class="ion-padding" *ngFor="let coupon of historicQrCode$ | async ">
    <ion-router-link href='detail/+{{coupon.couponId}}'>
    <ion-label>
      <h2>{{coupon.couponId}}</h2>
      <p> Date: {{coupon.scannedAt | date}}</p>
      <p> Dernier scan : {{coupon.lastScanned | date}}</p>
    </ion-label>
    </ion-router-link>
  </ion-item>
</ion-content>
