<app-nav-bar></app-nav-bar>
<ion-content>
  <div *ngIf = "!showCamera" >
    <ion-fab horizontal="center" vertical="center" slot="fixed">
      <ion-fab-button (click)="scanQrCode()" color="primary">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  <div *ngIf = "showCamera" >
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button color="danger" (click)="closeCamera()">
        <ion-icon  name="close-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>

